/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

html {
  background: radial-gradient(ellipse at bottom, #121922 100%, #090a0f 100%);
}

body{
  height: 100vh;
  font-size: 62.5%;
  position: relative;
}

.container {
  color: #FFF;
  /* text-align: center; */
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  max-width: 800px;
  margin: 0 auto;
}

.button{
  cursor: pointer;
}

.choose-box{
  padding: 3rem 0;
}

.choose-box h1{
  margin: 0;
  font-size: 3rem;
}

.choose-box h4{
  margin-top: 5rem;
  font-size: 1.5rem;
}

.choose-box p{
  margin-top: 2rem;
  font-size: 1rem;
}

.choose-box input,
.choose-box button,
.show-box input{
  font-size: 1rem;
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.choose-box button,
.show-box input{
  background-color: rgba(155, 255, 200, 0.127);
  color: #fff;
}

.choose-box button:is(:hover,:focus),
.show-box input:is(:hover,:focus){
  background-color: rgba(255, 255, 255);
  color: #000;
}

.show-box{
  padding: 3rem 0;
}

.show-box h2{
  margin-top: 0;
}

.show-box img{
  width: 100%;
}

.show-box p{
  text-align: justify;
}

.hidden{
  display: none;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2500px);
  }
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/