/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  font-size: 62.5%;
  position: relative;
  color: #FFF;

  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "lato", sans-serif;
}

.video-background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .89;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #35679f;
  mix-blend-mode: overlay;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}

.button{
  cursor: pointer;
}



/* CHOOSE BOX */ 
.choose-box{
  position: absolute;
  z-index: 2;
}

.choose-box h1{
  margin: 0 auto;
  background-image: linear-gradient(319deg, rgba(255,255,255,1) 0%, rgba(235,166,71,1) 50%, rgba(161,114,49,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.choose-box h4{
  margin: 10% 0;
}

.choose-box p{
  margin-top: 1rem;
}

.choose-box input,
.choose-box button,
.show-box input{
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.choose-box button,
.show-box input{
  background-color: rgba(255, 255, 255);
}

.choose-box button:is(:hover,:focus),
.show-box input:is(:hover,:focus){
  background-color: rgba(255, 255, 255);
  background-image: linear-gradient(319deg, rgba(255,255,255,1) 0%, rgba(235,166,71,1) 50%, rgba(161,114,49,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-weight: bold;
}


/* SHOW BOX */

.show-box{
  position: absolute;
}

.show-box h2{
  margin-top: 0;
}

.show-box img{
  width: 70%;
}

.show-box p{
  text-align: justify;
}

.show-box video{
  width: 70%;
}

.hidden{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

@media (min-width: 0px) {
  .container {padding: 3rem 1rem;}
  .choose-box h1{ font-size: calc(1.5rem + 1vw); }
  .choose-box h4{ 
    font-size: calc(.8rem + 1vw); 
    margin: 20% 0 10%;
  }
  .choose-box p{ font-size: calc(.6rem + 1vw); }
  .choose-box input,
  .choose-box button,
  .show-box input{ font-size: calc(.4rem + 1vw); }
  
  .show-box h2{ font-size: calc(.7rem + 1vw); }
  .show-box p{ font-size: calc(.5rem + 1vw); }
}


@media (min-width: 481px) {
  .container {padding: 3rem 1.8rem;}
  .choose-box h1{ font-size: calc(2rem + 1vw); }
  .choose-box h4{ 
    font-size: calc(1rem + 1vw); 
    margin: 20% 0 10%;
  }
  .choose-box p{ font-size: calc(.5rem + 1vw); }
  .choose-box input,
  .choose-box button,
  .show-box input{ font-size: calc(.5rem + 1vw); }
  
  .show-box h2{ font-size: calc(.9rem + 1vw); }
  .show-box p{ font-size: calc(.5rem + 1vw); }
}

@media (min-width: 768px){
  .container {padding: 3rem 2.5rem;}
  .choose-box h1{ font-size: calc(2rem + 1vw); }
  .choose-box h4{ 
    font-size: calc(.6rem + 1vw);
    margin: 25% 0 15% 0;
  }
  .choose-box p{ font-size: calc(.4rem + 1vw) }
  .choose-box input,
  .choose-box button,
  .show-box input{ font-size: calc(.2rem + 1vw) }
  
  .show-box h2{ font-size: calc(.5rem + 1vw) }
  .show-box p{ font-size: calc(.4rem + 1vw) }
}

@media (min-width: 1280px){
  .container {padding: 3rem;}
  .choose-box h1{ font-size: calc(2rem + 1vw); }
  .choose-box h4{ 
    font-size: calc(.5rem + 1vw);
    margin: 25% 0 15% 0;
  }
  .choose-box p{ font-size: calc(.3rem + 1vw) }
  .choose-box input,
  .choose-box button,
  .show-box input{ font-size: calc(.05rem + 1vw) }
  
  .show-box h2{ font-size: calc(.4rem + 1vw) }
  .show-box p{ font-size: calc(.2rem + 1vw) }
}