/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  font-size: 62.5%;
  position: relative;
  background-image: url(/class20/class20-materials/objects-nasa/img/moon.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #FFF;
}


/******************************************
/* LAYOUT
/*******************************************/
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap');

.container {
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  max-width: 800px;
  margin: 0 auto;
  height: 100vh;
}

.button{
  cursor: pointer;
}

.choose-box{
  padding: 3rem 0;
}

.choose-box .logo{
  position: relative;
  /* width: 320px; */
}

.choose-box h1{
  margin: 0 auto;
  padding: 1rem 0;
  font-size: 4rem;
  background-image: linear-gradient(319deg, rgba(255,255,255,1) 0%, rgba(235,166,71,1) 50%, rgba(161,114,49,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}

.choose-box h4{
  margin-top: 5rem;
  font-size: 2rem;
}

.choose-box p{
  margin-top: 2rem;
  font-size: 2rem;
}

.choose-box input,
.choose-box button,
.show-box input{
  font-size: 2rem;
  border: none;
  border-radius: .5rem;
  padding: .5rem 1rem;
}

.choose-box button,
.show-box input{
  background-color: rgba(255, 255, 255);
}

.choose-box button:is(:hover,:focus),
.show-box input:is(:hover,:focus){
  background-color: rgba(255, 255, 255);
  background-image: linear-gradient(319deg, rgba(255,255,255,1) 0%, rgba(235,166,71,1) 50%, rgba(161,114,49,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  font-weight: bold;
}

.show-box{
  padding: 3rem 0;
}

.show-box h2{
  margin-top: 0;
}

.show-box img{
  width: 100%;
}

.show-box p{
  text-align: justify;
}

.hidden{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/